<div class="container">
  <% if @name.count == 0 %>
    실패, 아이디/비밀번호 재확인
    <a href="/home/index">돌아가기</a>
  <% else %>
    통신성공!<br />
    총 <%= @name.count %>개의 지원서가 있습니다.<br />
    * 사용 후 종료버튼을 반드시 누르세요. 종료 버튼을 누르면 데이터가 안전하게 삭제됩니다.<br />
    * 제작 : 경북대학교 멋쟁이 사자처럼 이우섭
    <div class="row">
      <%= form_tag("/home/out", method: "post") do %>
        <%= text_field_tag :univ, @apply.univ, class: "form-control", hidden: true %>
        <div class="form-group">
          <%= submit_tag "종료", class: "btn btn-light" %>
        </div>
      <% end %>

      <%= form_tag("/home/list", method: "post") do %>
          <%= text_field_tag :univ, @apply.univ, class: "form-control", hidden: true %>
        <div class="form-group">
          <%= submit_tag "지원서", class: "btn btn-light", :formtarget => "_blank" %>
        </div>
      <% end %>

      <%= form_tag("/home/save_all", method: "post") do %>
          <%= text_field_tag :univ, @apply.univ, class: "form-control", hidden: true %>
        <div class="form-group">
          <%= submit_tag "모두저장", class: "btn btn-light", :formtarget => "_blank" %>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
